#img-div {
  display: block;
  max-width: 232px;
  border: solid gray 1px;
  margin-top: 10px;
}
#image {
  display: block;
  max-height: auto;
  max-width: 100%;
  padding: 2px;
}
#img-caption {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
  text-align: justify;
  padding: 3px 3px 3px 3px;
}
.small-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.6em;
  color: gray;
}
.light-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.9em;
}
.container {
  max-width: 900px;
}
h1 {
  margin: 30px auto 0px auto;
  font-family: 'Josefin Slab', serif;
  font-size: 3.5em;
}
p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
li {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
.spacer{
  height: 60px;
}
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:active {
  color: gray;
}
.fas {
  color: gray;
  margin-right: 10px;
}
.list-group-item {
  border: 0 none;
  padding: 5px;
}
.figure {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
